nav{
    background: #ccc;
    height: 50px;
}
#banner{
    background: transparent;
    height: 700px;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
}
nav ul li, nav.logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}
nav ul li a{
    line-height: inherit;
    text-decoration: none;
    display: inline-block;      /*更改宽没用，更改高可以*/
    height: inherit;
    color: #fff;
}
nav div.logo{
    float: left;
    padding: 10px;
}
nav div a{
    text-decoration: none;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
}
#banner .inner h1{
    margin: 0;
}
button{
    border: none;
    background: #333;
    color: #eee;
}
#banner button{
    padding: 14px 60px;
}
#banner .inner .more{
    margin-top: 280px;
}
.sub-heading{
    height: 30px;
    line-height: 30px;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo a{
    color: #fff;
}
.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}
.green-section{
    background: #089D80;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}
.green-section .hr{
    background: #078494;
    width: 60%;
}
.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #0D6F7C;
    transform: rotate(45deg);
    margin: 20px;
}
.icon-group{
    margin-top: 60px;
}
.gray-section{
    background: #000;
    color: #fff;
}
.gray-section .img-section{
    max-width: 45%;
}
.img-section img{
    width: 100%;
}
.gray-section .text-section{
    width: 55%;
}
.article-preview > div{
    float: left;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.text-section{
    position: relative;
    top: 68px;
    left: 50px;
}
.text-section h2{
    margin-bottom: 20px;
}
.text-section p{
    font-size: 16px;
}
.purple-section{
    padding: 80px;
    background: #262149;
    color: #fff;
}
.purple-section .heading-wrapper{
    text-align: center;
}
.purple-section .hr{
    background: #373259;
    width: 60%;
}
.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    margin-top: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid white;*/
}
/*.card p{*/
    /*font-size: 18px;*/
    /*letter-spacing: 1px;*/
/*}*/

.card:first-child{
    background: rgba(0,0,0,0.05);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.05);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.1);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.1);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.15);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.15);
}
footer{
    background: #333;
    color: #fff;
    min-height: 150px;
    text-align: center;
}
ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}
ul li{
    display: inline-block;
}
.copy{
    padding-bottom: 20px;
}
.main-wrapper{
    /*..表示后退一级文件夹，不然访问不到 */
    background: #444 url("../img/banner.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    background-size: cover;
}
