@charset "utf-8";
body {
  background-color: #f1f1f1;
}
ul {
  margin: 0;
  padding: 20px;
}
div {
  height: 100px;
}
/*我是会被保留的*/
/*Less中的变量*/
.box {
  width: 300px;
  height: 200px;
  border: 2px solid #f1f;
  background-color: green;
}
/*Less中可以选择器嵌套，也就是混合，一个可以通过将名称放入另一个中得以执行*/
/*混合中还可以带参数，但是有的时候参数可省，有的不可。如下*/
.test_02 {
  border: solid #ffff00 8px;
}
.test_03 {
  border: 4px #ffc0cb 10px;
}
/*用混合写法的好处，主要体现在css3*/
.radius_test {
  width: 100px;
  height: 80px;
  background: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-webkit-radius: 10px;
  border-radius: 10px;
}
/*匹配模式*/
